<% if items.any? %>
<table id="task_table" class="table">
  <tbody>
  <% items.each do |item| %>
    <tr>
      <td>
        <%= item.title %>
      </td>
      <td>
        <%= item.price %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p class="placeholder">There are no items yet.</p>
<% end %>


<%= link_to 'Add Item', routes.new_item_path %>
