<table id="task_table" class="table">
  <tbody>
  <% items.each do |item| %>
    <tr>
      <td>
        <%= item.title %>
      </td>
      <td>
        <%= item.price %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
